{% extends "base.htm" %}

{% block content %}
  <div class = "placeholders row">
    <div class="container-fluid col-lg-6">
      <div class="padd_row"></div>
      <div class="upload row">
        <div class="template placeholder col-md-5 offset-md-1 text-light d-flex justify-content-center bg-dark rounded align-middle">
          {% if test_image %}
            <img class="img-fluid" src="{{template_image}}" alt="Nothing uploaded">
          {% else %}
            Upload Template Image
          {%endif%}
        </div>
        <div class = "test placeholder col-md-5 text-light d-flex justify-content-center bg-dark rounded">
          {% if template_image %}
            <img class="img-fluid" src="{{test_image}}" alt="Nothing uploaded">
          {% else %}
            Upload Test image
          {%endif%}
        </div>
      </div>
      <div class="padd_row_form">
          <form method="POST" enctype="multipart/form-data" action="">
            <div class = "row gx-0">
              <div class="col offset-md-2">
                <label for="template_image" ></label>
                <input type="file" name="test_image">
              </div>
              <div class="col offset-md-1">
                <label for="test_image" ></label>
                <input type="file" name="template_image">
              </div>
            </div>
            <div class="row">
              <div class="col offset-md-5">
                <input class="upload_button" type="submit" value="Upload">
              </div>
            </div>
          </form>
      </div>
    </div>
    <div class="container-fluid col-lg-6">
      <div class= "inference container row">
        <div class = "result placeholder col-md-10 offset-md-1 text-light d-flex justify-content-center bg-dark rounded">
          {% if result_image %}
            <!-- <div class="row justify-content-center">
              Result
            </div> -->
            <div class="row">
              <img class="img-fluid" src="{{result_image}}" alt="Nothing inferenced">
            </div>
          {% else %}
            Click upload to check the analysis results
          {%endif%}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}